<script type="text/javascript" id="hitsteps-analytics">(function(){var hstc=document.createElement('script'); hstc.src='https://log.hitsteps.net/track.php?code=5fc4afbedd6cf2cf5bae49383ef24d27';hstc.async=true;var htssc = document.getElementById("hitsteps-analytics");htssc.parentNode.insertBefore(hstc, htssc);})();
</script><noscript><a href="http://www.hitsteps.com/"><img src="//log.hitsteps.net/track.php?mode=img&amp;code=5fc4afbedd6cf2cf5bae49383ef24d27" alt="web stats" width="1" height="1" />Realtime website tracking</a></noscript>

{% comment %}

Inserts code for Hitsteps analytics into the header of each page


{% endcomment %}